<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="USNGE Template">


  <block name='stylesheets'>
    <link rel='stylesheet' href='css/index.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </block>
</head>


<body class="about">
<div id="wrapper_page">

  <header>
    <div class="header-brand">
      <a href="http://www.usnewsglobaleducation.com/" class="logo"><img
        src="img/logo-usnge.png"
        alt="US News Global Education"></a>
    </div><!-- /.header-brand -->
    <div class="utility-nav">
      Advertorial <a href="https://www.usnews.com/best-colleges/adelphi-university-2666" class="link-back">Back to U.S.
      News</a>
    </div>
  </header>

  <section id="main" class="school-adelphi-university">
    <!-- Sidebar -->
    <div id="sidebar">
      <nav id="nav_university" role="navigation">
        <div class="university-logo">
          <img src="img/adelphi-university.jpg"
               alt="Adelphi University">
        </div>

        <!-- Nav Menu -->
        <a href="#" class="nav-menu"><img
          src="img/icon-menu.png" alt="Menu"></a>

        <!-- Primary Nav -->
        <ul class="nav-university mobile-hidden">
          <li class="nav-about">
            <a href="http://www.usnewsglobaleducation.com/ecp/adelphi-university/index.html"><span
              class="icon icon-about"></span> About</a>
          </li>
          <li class="nav-undergraduate-accelerator">
            <a href="http://www.usnewsglobaleducation.com/ecp/adelphi-university/undergraduate-accelerator.html"><span
              class="icon icon-programs"></span> Undergraduate Accelerator</a>
          </li>
          <li class="nav-student-life">
            <a href="http://www.usnewsglobaleducation.com/ecp/adelphi-university/student-life.html"><span
              class="icon icon-student-life"></span> Student Life</a>
          </li>
          <li class="nav-undergraduate-degrees">
            <a href="http://www.usnewsglobaleducation.com/ecp/adelphi-university/undergraduate-degrees.html"><span
              class="icon icon-degrees"></span> Undergraduate Degrees</a>
          </li>
          <li class="nav-dates-costs">
            <a href="http://www.usnewsglobaleducation.com/ecp/adelphi-university/dates-costs.html"><span
              class="icon icon-dates-cost"></span> Dates &amp; Costs</a>
          </li>
          <li class="nav-apply">
            <a href="http://www.usnewsglobaleducation.com/ecp/adelphi-university/apply.html"><span
              class="icon icon-apply"></span> Apply</a>
          </li>
          <li class="nav-compass">
            <a href="https://www.usnews.com/usnews/store/college_compass.htm?src=homepage&amp;int=compassunlock"><img
              src="img/logo-compass.png"
              alt="Unlock US News Compass"></a>
            <a href="https://www.usnews.com/usnews/store/college_compass.htm?src=homepage&amp;int=compassunlock">Get
              Access to all of the US News Best Colleges Ranking Data</a>
          </li>
        </ul>
      </nav>
    </div><!-- /#sidebar -->

    <!-- Small Screen Only Branding Components -->
    <section id="mobile_branding" class="clearfix school-adelphi-university">
      <div class="site-logo">
        <a href="http://www.usnewsglobaleducation.com/"><img
          src="img/logo-usnge.png"
          alt="US News Global Education"></a>

      </div>
      <div class="school-logo">
        <img src="img/adelphi-university.jpg"
             alt="Adelphi University">
      </div>
    </section>

    <!-- Section 1. About Content -->

    <section id="content_main" class="clearfix">

      <block name='contentfull-schoolStats'></block>

      <!-- Main Content -->

      <section id="content_detail" class="clearfix">

        <div class="container">
          <!-- Remove class of "article-full for a 2/3 layout" -->
          <article class="article-full">
            <a href="#" class="apply-link">Apply and More</a>

            <main role='main'>
              <block name='contentfull-main'></block>
            </main>

          </article>
        </div><!-- /.container -->

      </section><!-- /section#content_detail -->


    </section><!-- /section#content_main -->
  </section><!-- /section#main -->

  <footer>
    The information on this page is provided by the Undergraduate Accelerator at Adelphi University
    <span class="footer-right">Copyright © 2017 U.S. News Global Education
			<a href="http://www.usnewsglobaleducation.com/privacy.html">Privacy Policy</a>
<a href="http://www.usnewsglobaleducation.com/terms.html">Terms</a>
		</span>
  </footer>

</div><!-- /#wrapper_page.american-university -->


<block name='javascript'>
  <script src='js/main.js' defer></script>
</block>
</body>

</html>
